# Gnome 3 
.header-bar.default-decoration {
padding-top: 1px;
padding-bottom: 1px;
font-size: 0.5em;
}
.header-bar.default-decoration .button.titlebutton {
padding: 0px;
}
# --------------------------------------------------
# Gnome 3.20+ 
window.ssd headerbar.titlebar {
padding-top: 1px;
padding-bottom: 1px;
min-height: 0;
}
window.ssd headerbar.titlebar button.titlebutton {
padding: 0px;
min-height: 0;
min-width: 0;
}
headerbar {
min-height: 0px;
padding-top: 2px;
padding-bottom: 1px;
padding-right: 1px;
padding-left: 1px;
}
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
margin-top: 0px;
margin-bottom: 0px;
}
.titlebar {
min-height: 0px;
}
